
#dark{
  background-color: black;
  height: 100vh;
  color: white;
}
#light{
  background-color: white;
  color: black;
  height: 100vh;
}
#dark.header{

  background-color: white;
}
.title-page{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.book-logo{
  font-size: 2.5rem;
}
